@import "bootstrap/less/bootstrap.less";
@iconSpritePath: "../../bootstrap/img/glyphicons-halflings.png";
@iconWhiteSpritePath: "../../bootstrap/img/glyphicons-halflings-white.png";
  /* Now use bootstrap and less! */
body { background-color: @orange; }
#sidebar { background-color: @blue; }
#main { background-color: @green; }

.main-container{
  .container-fluid
}
