@import "bootstrap/less/bootstrap.less";
@FontAwesomePath: "../font";
@import "font-awesome.less";
@iconSpritePath: "../../bootstrap/img/glyphicons-halflings.png";
@iconWhiteSpritePath: "../../bootstrap/img/glyphicons-halflings-white.png";
  /* Now use bootstrap and less! */

body {
  background-color: @orange;
  background-image:url('/bitcoin-live-data/_design/bitbot-couchapp/img/px_by_Gre3g.png');
  @media
  (-webkit-min-device-pixel-ratio: 2){
    /* Retina-specific stuff here */
  }

}



.navbar .brand{
  margin-left: -45px;
}

#sidebar {
  background-color: @blue;
  height: 600px;
}

#main {
  background-color: @green;
  height: 200px;

}


